html {
	touch-action: manipulation;
}

body {
	margin: 50px;
	background-color: #f0f0f0;
}

.short {
	width: 50px;
}

.color {
	margin-left: 20px;
}

.form-cheat {
	display: inline-block;
	text-align: left;
	width: 7em;
}

label.blue {
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	width: 4em;
	font-size: 14px;
	background-color: #007bff;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

label.green {
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	font-size: 14px;
	background-color: #4caf50;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

label.red {
	display: inline-block;
	padding: 8px 16px;
	text-align: center;
	width: 4em;
	font-size: 14px;
	background-color: #ff4500;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
